___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 03</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Pandas Series</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [CREATING PANDAS SERIES](#1)
    * [Using Lists](#1.1)
    * [Using Numpy Arrays](#1.2)
    * [Using Dictionaries](#1.3)
    * [Using Scalar Value](#1.4)
* [DATA IN A SERIES](#2)
* [BASIC ATTRIBUTES & METHODS OF SERIES](#3)
* [INDEXING AND SLICING WİTH PANDAS SERIES](#4)
* [Selection with Condition and Broadcasting](#5)
* [RECAP FOR SEVERAL SELECTING ATTRIBUTES](#6)
* [THE END OF THE SESSION-03](#7)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import numpy as np
import pandas as pd

In [5]:
# KAHOOT SORUSU : Aşağıdaki arrayde 28 ve 53 değerlerine ulaşmak için nasıl bir indexleme yapılmalıdır.
np.random.seed(74)
np.random.randint(100, size=(5,5))

array([[30, 91,  9, 73, 62],
       [ 4,  9, 28, 37, 11],
       [31,  9, 35, 35, 40],
       [74, 94, 95, 37, 53],
       [50, 99, 39, 31, 21]])

In [7]:
np.random.seed(74)
np.random.randint(100, size=(5,5))[[1,3],[2,4]]  

# 1. satırın 2. sütunundaki değer ile 3. satırın 4. sütunundaki değeri getirir.
# Fancy indexing: [1,3] satırları ifade eder, [2,4] sütunları ifade eder.

array([28, 53])

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Creating a Pandas Series</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Pandas series is a one-dimensional data structure. It can hold data of many types including objects, floats, strings and integers. You can create a series by calling pandas.Series(). A list, numpy array, dict can be turned into a pandas series. You should use the simplest data structure that meets your needs [Source](https://pythonbasics.org/pandas-series/). The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index [Source](https://www.geeksforgeeks.org/creating-a-pandas-series/).

[SOURCE01](https://pandas.pydata.org/docs/reference/api/pandas.Series.html), [SOURCE02](https://www.datasciencemadesimple.com/create-series-in-python-pandas/), 
[SOURCE03](https://www.cbsecsip.in/2020/08/pandas-data-structure-series.html), 
[SOURCE04](https://towardsdatascience.com/pandas-series-a-lightweight-intro-b7963a0d62a2), 
[SOURCE05](https://www.educba.com/pandas-series/), 
[SOURCE06](http://www.rebellionrider.com/python-pandas-series-in-detail-part-1/), 
[SOURCE06](https://www.javatpoint.com/python-pandas-series), &
[SOURCE06](https://towardsdatascience.com/20-examples-to-master-pandas-series-bc4c68200324)<br>

In this lecture we will discuss how to create Pandas Series, use basic attributes of Series, index Pandas Series & be familiar with Pandas Dataframes.

**You can create a series by calling pandas. Series() . A list, numpy array, dict and scalar value can be turned into a pandas series.**

**``pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)``**

One-dimensional ndarray with axis labels (including time series).

In [9]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Lists</p>

<a id="1.2.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**To turn a list into a series, all you have to do is:**

In [12]:
pd.Series(my_list)  # listelerden Seri oluşturabiliriz

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series([1,2,3,4,5])  # listelerden Serie oluşturma yöntemi

0    1
1    2
2    3
3    4
4    5
dtype: int64

By default it assigns an index. First it shows the index, then the element value.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using NumPy Arrays</p>

<a id="1.2.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**You can create a series from a numpy ndarray.**

In [14]:
arr

array([10, 20, 30])

In [15]:
pd.Series(arr)  # nparraylerden de Seri oluşturabiliriz.

0    10
1    20
2    30
dtype: int32

In [16]:
pd.Series(data=arr, index=labels)  # Serie'ye bu şekilde index ekleyebiliriz. Ancak ikisiyin aynı uzunlukta olması gerekir.

a    10
b    20
c    30
dtype: int32

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Dictionaries</p>

<a id="1.2.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**If you have a dictionary, you can turn it into a series:**

In [17]:
d

{'a': 10, 'b': 20, 'c': 30}

In [18]:
pd.Series(d)  # dict.lerden Seri oluşturulduğunda dict. içindeki keyler index'e dönüşür.

a    10
b    20
c    30
dtype: int64

It used the dictionary keys as index. The keys of the dictionary match with the Index values; hence, the default Index values have no effect.

In [20]:
pd.Series(data=d, index=["k","b","y","p"]) 

# dictionary nin mevcut indexleri yerine başka bir index ataması yaparsam,
# ortak olan index değerleri seride kalırken diğer yeni indexler için NaN döner.

k     NaN
b    20.0
y     NaN
p     NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary. After this the Series is reindexed with the given Index values, hence we get all NaN as a result.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Scalar Value</p>

<a id="1.2.4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``Scalars``** are single values representing one unit of data, such as an integer or bool, as opposed to data structures like a list or tuple, which are composed of scalars.

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index [Source](https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm).

In [21]:
pd.Series(data="İlknur")  # scalar değerler kullanılarak da seri oluşturulabilir.

0    İlknur
dtype: object

In [22]:
pd.Series(data="İlknur", index= range(3))  

# scalar değer kullanılarak data değerini, index değerinde belirttiğim sayı kadar tekrar eden bir seri oluşturabiliriz.

0    İlknur
1    İlknur
2    İlknur
dtype: object

In [23]:
pd.Series(data=10, index= ["A","B","C"]) 

# indexte 4 değer olduğu için her bir index karşısına 10 yazarak 4 tane 10 içeren bir seri oluşturduk.

A    10
B    10
C    10
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Data in a Series</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``A series``** is a **one-dimensional data structure**. A Series is very **similar to a NumPy array** (in fact it is built on top of the NumPy array object). **What differentiates** the NumPy array from a Series, is that a Series can **have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesn’t need to hold numeric data, it can hold any arbitrary Python Object [Source](http://www.datasciencelovers.com/python-for-data-science/pandas-series/).

So important point to remember for Pandas series is:

- Homogeneous data
- Size Immutable
- Values of Data Mutable

**A pandas Series can hold a variety of object types:**

In [126]:
pd.Series(data=[set, list, dict])  # Seriler içerisine çeşitli türden data/object alabilir.

0    0    0    0     <class 'set'>
1    <class 'lis...
1                                       <class 'list'>
2                                       <class 'dict'>
dtype: object

In [133]:
ser = pd.Series(data=[set, list, dict]) 

# set, liste ve dict içeren bir seri oluşturup, sonra her birini amacına uygun bir şekilde kullanabilirsiniz.
ser[1]  # serinin 1. elemanı liste

list

In [134]:
ser[1](range(9))  # serinin 1. elemanı liste olduğu için içine range(9) yazdığımda 0-9 arasında sayılardan oluşan bir liste oluşturur.

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [136]:
ser[2] # serinin 2. elemanı dict

dict

Even functions (although unlikely that you will use this)

In [30]:
pd.Series(data=[sum, print, len]) # farklı fonksiyonlar içeren seri de oluşturabiliriz.

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [31]:
ser = pd.Series(data=[sum, print, len])  # serie içerisine yazılan fonksiyonlar daha sonra çağrılıp kullanılabilir.

In [33]:
# Ör1:
ser[1]  # serinin 1.elemanı print fonksiyonu.

In [35]:
# Ör2:
ser[1]("hello world")  # 2. elemanı print fonksiyonu olduğu için bu şekilde kullanabiliriz.

hello world

In [36]:
ser[2]("clarusway")  # 2. elemanı len fonksiyonu olduğu için yanına yazdığımız verinin uzunluğunu bulabiliriz.

9

In [37]:
mix_data = ["Ahmet", 5, True, 5, 8]  # seriler farklı türden değerler içerebilir.

In [38]:
ser = pd.Series(mix_data) # seriler farklı türden değerler içerebilir. mix_data listesi farklı türden veri içeren bir liste.

In [39]:
ser  # dtype'ını object olarak verdi. En kapsamlı olan object(string) olduğu için onu baz alır.

0    Ahmet
1        5
2     True
3        5
4        8
dtype: object

In [40]:
type(ser)  # serinin türüne baktığımızda pandas serisi olduğunu görürüz.

pandas.core.series.Series

In [41]:
type(ser[0])  # serinin 0. elemanının türüne baktığımızda str olduğunu görebiliriz.

str

In [42]:
type(ser[1]) # serinin 1. elemanının türüne baktığımızda int olduğunu görebiliriz.

int

In [43]:
type(ser[2])  # serinin 2. elemanının türüne baktığımızda bool olduğunu görebiliriz.

bool

In [44]:
type(ser[3])  # serinin 3. elemanının türüne baktığımızda int olduğunu görebiliriz.

int

In [45]:
ser = np.array(mix_data)  # farklı veri türleri içeren bir listeden ndarray oluşturduğumuzda 
ser  # hepsini stringe döndürdü. Çünkü arrayler tek tür veri içerir. En kapsayıcı str olduğu için hepsini str yaptı.

array(['Ahmet', '5', 'True', '5', '8'], dtype='<U11')

In [47]:
type(ser[0])  # arrayin 0. elemanının türü str

numpy.str_

In [48]:
type(ser[1])  # arrayin 1. elemanının türü str

numpy.str_

In [49]:
type(ser[3])  # arrayin 2. elemanının türü str

numpy.str_

[Reminder Source for Numpy Arrays](https://pythonguides.com/python-numpy-data-types/)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">BASIC ATTRIBUTES & METHODS OF SERIES</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**SOME COMMON ATTRIBUTES** [Official Pandas API Document](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)<br>

**Series.dtype**	It returns the data type of the data.<br>
**Series.shape**	It returns a tuple of shape of the data.<br>
**Series.size**	    It returns the size of the data.<br>
**Series.ndim**	    It returns the number of dimensions in the data.<br>
**Series.index**	Defines the index of the Series.<br>
**Series.keys**  	Return alias for index.<br>
**Series.values**   Returns Series as ndarray or ndarray-like depending on the dtype.<br>
**Series.items**	Lazily iterate over (index, value) tuples.<br>
**Series.head**   	Return the first n rows.<br>
**Series.tail** 	Return the last n rows.<br>
**Series.sample**   Return a random sample of items from an axis of object.<br>
**Series.sort_index**  Sort Series by index labels.<br>
**Series.sort_values**  Sort by the values.<br>
**Series.isin**     Whether elements in Series are contained in values.<br>

In [50]:
ser = pd.Series(data=np.random.randint(0,100,7))

In [51]:
ser

0    46
1    65
2    42
3    94
4    34
5    25
6    70
dtype: int32

In [52]:
type(ser)  # serilerin türüne bakmak için

pandas.core.series.Series

In [53]:
ser.dtype  # serinin içerdiği verilerin türünü görmek için

dtype('int32')

In [54]:
ser.shape  # serinin şeklini görmek için

(7,)

In [55]:
ser.size  # serinin büyüklüğünü (eleman sayısını) görmek için

7

In [56]:
len(ser)  # serinin uzunluğunu (eleman sayısını) görmek için

7

In [57]:
ser.ndim  # serinin boyutunu görmek için

1

In [58]:
ser

0    46
1    65
2    42
3    94
4    34
5    25
6    70
dtype: int32

In [59]:
ser.index  # serinin index değerlerini görmek için

RangeIndex(start=0, stop=7, step=1)

In [60]:
ser.keys()  # dict. mantığına göre bu yöntemle de index değerlerine ulaşabiliriz.

RangeIndex(start=0, stop=7, step=1)

In [61]:
list(ser.index)  # index değerlerini listeye dönüştürmek için

[0, 1, 2, 3, 4, 5, 6]

In [62]:
list(ser.keys() )  # aynı şekilde keys ile getirilen index değerlerini listeye dönüştürmek için

[0, 1, 2, 3, 4, 5, 6]

In [63]:
ser.values  # serideki değerleri görmek için

array([46, 65, 42, 94, 34, 25, 70])

In [65]:
ser.items()  # aynı şekilde dict. mantığı ile serinin değerlerini döndürür. görmek için listeye dönüştürmek gerekir.

In [66]:
list(ser.items())

[(0, 46), (1, 65), (2, 42), (3, 94), (4, 34), (5, 25), (6, 70)]

In [67]:
# Bu da Allen Hoca'nın kodu:
print(*ser.items(), sep='\t', end='\n') 
print(*ser.index, sep='\t', end='\n') 
print(*ser.values, sep='\t', end='\n')

(0, 46)	(1, 65)	(2, 42)	(3, 94)	(4, 34)	(5, 25)	(6, 70)
0	1	2	3	4	5	6
46	65	42	94	34	25	70

In [68]:
ser = pd.Series(data = np.random.randint(0,25,10), index=[i for i in "ABCDEFGHJK"])

In [69]:
ser

A    15
B    11
C    23
D     6
E     7
F     9
G    10
H    19
J    22
K     9
dtype: int32

In [70]:
ser.head()  # serinin ilk n satırını görmek için. default değeri 5 olduğu için değer yazılmadığında ilk 5 satır gelir.

A    15
B    11
C    23
D     6
E     7
dtype: int32

In [71]:
ser.tail()  # serinin son n satırını görmek için. default değeri 5 olduğu için değer yazılmadığında son 5 satır gelir.

F     9
G    10
H    19
J    22
K     9
dtype: int32

In [72]:
ser.sample()

# veri setinden random olarak örnek satırlar almak için. 
# default değeri 1 old. için belirtilmediği sürece 1 satır gelir.
# Daha çok satır görmek için istediğiniz sayıyı yazmalısınız.

A    15
dtype: int32

In [73]:
ser.sort_index(ascending=True)  # seriyi index değerlerine göre sıralamak için. asc True ise artan, False ise azalan bir sıralama yapar.

A    15
B    11
C    23
D     6
E     7
F     9
G    10
H    19
J    22
K     9
dtype: int32

In [74]:
ser.sort_index(ascending=False)  # asc False old. için index değerlerine göre azalan sıralama yaptı

K     9
J    22
H    19
G    10
F     9
E     7
D     6
C    23
B    11
A    15
dtype: int32

In [75]:
ser.sort_index(ascending=False).head()  # sıraladıktan sonra ilk 5 satıra bakarak kontrol ettik

K     9
J    22
H    19
G    10
F     9
dtype: int32

In [76]:
ser.sort_values()  

# serideki değerlere göre sıralama yapar. 
# asc belirtilmediği sürece artan şekilde(default değeri True old. için), asc False olarak belirtildiği zaman azalan sıralama yapar.

D     6
E     7
F     9
K     9
G    10
B    11
A    15
H    19
J    22
C    23
dtype: int32

In [77]:
ser.sort_values().tail()  # seriyi değerlerine göre sıralayıp son 5 satırına baktık.

B    11
A    15
H    19
J    22
C    23
dtype: int32

In [78]:
ser

A    15
B    11
C    23
D     6
E     7
F     9
G    10
H    19
J    22
K     9
dtype: int32

In [79]:
ser.isin([9,10])  

# seri değerleri içerisinde 9 ve 10 değerleri olup olmadığını kontrol eder.
# Koşula uyanlar için True, uymayanlar için False değerler içeren bir seri döndürür.

A    False
B    False
C    False
D    False
E    False
F     True
G     True
H    False
J    False
K     True
dtype: bool

In [141]:
type(ser.isin([9,10]))

pandas.core.series.Series

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Indexing and Slicing with Pandas Series</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

As stated and implemented by examples above, a Series is very similar to a NumPy array. What differentiates the NumPy array from a Series is that **a Series can have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesn’t need to hold numeric data, it can hold any arbitrary Python Object [Source](https://rpubs.com/pjozefek/659184).

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look up of information.

The axis labeling information in pandas objects serves many purposes:

- Identifies data (i.e. provides metadata) using known indicators, important for analysis, visualization, and interactive console display.
- Enables automatic and explicit data alignment.
- Allows intuitive getting and setting of subsets of the data set.

In this section, we will focus on the final point: namely, how to slice, dice, and generally get and set subsets of pandas objects. The primary focus will be on Series and DataFrame as they have received more development attention in this area. For more information, please visit [pandas-docs.github.io](https://pandas-docs.github.io/pandas-docs-travis/user_guide/indexing.html)

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [80]:
ser1 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany','RF', 'Japan'])
ser2 = pd.Series([1, 2, 5, 4, 6], index = ['USA', 'Germany','Italy', 'Japan', 'Spain'])

The two main data structures in pandas both have at least one axis. A **Series** has **one axis**, the index. A **DataFrame** has **two axes**, the index and the columns. It’s useful to note here that in all the DataFrame functions that can be applied to either rows or columns, an axis of 0 refers to the index, an axis of 1 refers to the columns.

In [81]:
ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [82]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [83]:
ser1.sort_index()

Germany    2
Japan      4
RF         3
USA        1
dtype: int64

In [84]:
ser2.sort_values()

USA        1
Germany    2
Japan      4
Italy      5
Spain      6
dtype: int64

**We're going to start with the basic form of selecting, using the [ ] operator.**

If we don’t introduce labels into our Series the index by default will be the natural numbers starting from 0. So the index will be the number of data introduced - 1.

In [85]:
ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [142]:
ser1[3]  # ser1'in 3. indexteki değeri

4

In [144]:
ser1.values[3]  # ser1'in 3. indexteki değeri

4

In [87]:
ser1.index[3]  # ser1'in 3.index adı/label değeri

'Japan'

In [90]:
ser1.index.get_loc("Japan")  # index label adını biliyorsam index numarasını bulmak için

3

In [92]:
ser1["Japan"]  # bildiğim index değerini kullanarak serinin karşılık gelen değerine ulaşmak için

4

In [94]:
ser1.Japan  # SQL sytax

4

As seen above, with a Series, the call will return a single scalar value that matches the value at that label in the index. If you pass in a value for a label that doesn't exist, you will get a KeyError raised. Also, if you pass in an integer and your index has that value, it will return it. But if you don't have an integer value in your index, it will return the value by position. This is convenient, but can be confusing.

**Let's see some slicing example with Series**

In [95]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [96]:
ser2[2:]  # serinin 2. satırından sonraki satırları görmek için

Italy    5
Japan    4
Spain    6
dtype: int64

In [97]:
ser2[::-1]  # serinin tüm satırlarını tersten yazdırmak için

Spain      6
Japan      4
Italy      5
Germany    2
USA        1
dtype: int64

**Another huge pro of using labelled indexes is that you can perform operations between two different series and pandas know what labels have both series in common and does the addition automatically.**

Operations are then also done based on index:

In [98]:
ser1 + ser2  # iki seriyi toplayabiliriz. Ancak ortak olmayan indexler için NaN değer ataması yapar.

Germany    4.0
Italy      NaN
Japan      8.0
RF         NaN
Spain      NaN
USA        2.0
dtype: float64

In [99]:
ser1 * ser2  # iki seriyi çarpabiliriz. Ancak ortak olmayan indexler için NaN değer ataması yapar.

Germany     4.0
Italy       NaN
Japan      16.0
RF          NaN
Spain       NaN
USA         1.0
dtype: float64

**Let's make changes on indexes:**

In [101]:
ser = pd.Series(data = [121, 200, 150, 99], index = ["terry", "micheal", "orion", "jason"])
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [102]:
ser["terry"]

121

In [103]:
ser[0]

121

In [104]:
ser[[0,2]]  # serinin 0 ve 2. satırını indexi ile birlikte getirir

terry    121
orion    150
dtype: int64

In [105]:
ser[["terry","orion"]]  # serinin index değeri terry ve orion olan satırlarını index değerleri ile birlikte getirir

terry    121
orion    150
dtype: int64

In [106]:
ser[0:3]  # serinin 0'dan 3'e kadar olan satırlarını index değerleri ile birlikte getirir. 3. SATIR DAHİL DEĞİLDİR.

terry      121
micheal    200
orion      150
dtype: int64

In [107]:
ser["terry":"jason"]  # serinin index değerleri terry ve jason arasındaki değerleri indeksleri ile birlikte getirir. JASON İNDEKSİ DAHİLDİR.

terry      121
micheal    200
orion      150
jason       99
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Selection with Condition and Broadcasting</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [108]:
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [109]:
"terry" in ser  # serinin indexinde terry var mı

True

In [110]:
121 in ser.values  # serinin değerlerinde 121 var mı

True

In [111]:
ser < 100  # serinin değerlerinden 100'den küçük olanlar için True, büyük olanlar için False değer içeren bir seri döndürür.

terry      False
micheal    False
orion      False
jason       True
dtype: bool

In [112]:
ser[ser < 100]  # yukarıdaki boolean ifade içeren seriyi seriden ilgili koşula uyanları seçmek için kullanabiliriz.

# Burada değeri 100'den küçük olan satırı getirir.

jason    99
dtype: int64

In [113]:
ser[ser < 100] = 100  # Bu koşulu sağlayan seri değerini yeni bir değer ile değiştirebiliriz.

In [114]:
ser

terry      121
micheal    200
orion      150
jason      100
dtype: int64

In [116]:
ser.isin([121])  # genel mantık yazdığınız komut boolean ifade döndürüyorsa bu ifade conditional veri seçimi için kullanılabilir

terry       True
micheal    False
orion      False
jason      False
dtype: bool

In [117]:
ser[ser.isin([121])]  # 121 içeren seri satırını döndürür.

terry    121
dtype: int64

In [118]:
ser[ser.isin([121])] = 125  # Bu koşula uyan değerleri istediğimiz bir değer ile değiştirebiliriz.

In [119]:
ser

terry      125
micheal    200
orion      150
jason      100
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Recap for Several Selecting Attributes</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [120]:
ser

terry      125
micheal    200
orion      150
jason      100
dtype: int64

In [121]:
ser.keys()

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [122]:
ser.index

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [123]:
ser.values

array([125, 200, 150, 100], dtype=int64)

In [124]:
ser.items()

In [125]:
list(ser.items())  # serideki verileri indekleri ile birlikte tuple çiftleri olarak döndürür. Bunun için list içerisine yazmak gerekir.

[('terry', 125), ('micheal', 200), ('orion', 150), ('jason', 100)]

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 03</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___