# Time Methods

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## datetime module contains the core objects for working with time series data in Python.

In [3]:
df = sns.load_dataset("flights")
df.head(3)

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132

In [ ]:
# to_datetime metodu birçok farklı tarih gösterim şekillerini timestamp object'e ayrıştırır.

In [4]:
type(df["year"])

pandas.core.series.Series

In [5]:
type(df["year"][0])

numpy.int64

In [7]:
df["year"] = pd.to_datetime(df["year"], format="%Y")
df.year.head(3)

0   1949-01-01
1   1949-01-01
2   1949-01-01
Name: year, dtype: datetime64[ns]

In [ ]:
# strftime metodu belirtilen formata göre timestamp objecti stringe döndürür.

In [9]:
from datetime import datetime
current_date = datetime.now()
current_date

datetime.datetime(2022, 5, 9, 16, 48, 5, 414239)

In [11]:
date = current_date.strftime(("%d"+" "+"%b"+" "+"%Y"))
date

'09 May 2022'

In [ ]:
# strptime meatodu belirtilen formata göre string objecti datetime objectine ayrıştırır.

In [12]:
datetime.strptime(date, "%d %b %Y")

datetime.datetime(2022, 5, 9, 0, 0)

In [14]:
# date.strptime("%d %b %Y")  # 'str' object has no attribute 'strptime' (burada date str olduğu için arkasından strptime metdou kullanılamaz.)

In [ ]:
#timedelta zaman farkını verir.

In [15]:
from datetime import timedelta
two_days_before=current_date.now() - timedelta(days=2)
two_days_before

datetime.datetime(2022, 5, 7, 16, 59, 26, 473368)