In [1]:
import numpy as np
import pandas as pd

# Text Metods

In [2]:
names = pd.Series(["Ali","Deli","Veli","Zeli","56"])

In [3]:
names

0     Ali
1    Deli
2    Veli
3    Zeli
4      56
dtype: object

In [4]:
names.str.upper()

0     ALI
1    DELI
2    VELI
3    ZELI
4      56
dtype: object

In [5]:
names = pd.Series(["Ali","Deli","Veli","Zeli","56", 4.2])

In [6]:
names

0     Ali
1    Deli
2    Veli
3    Zeli
4      56
5     4.2
dtype: object

In [7]:
names.str.islower()

0    False
1    False
2    False
3    False
4    False
5      NaN
dtype: object

In [ ]:
names = pd.Series(["ali","Deli","Veli","Zeli","56", 4.2])

In [8]:
names.str.islower()

0    False
1    False
2    False
3    False
4    False
5      NaN
dtype: object

In [9]:
names = pd.Series(["ali","Deli","Veli","Zeli","56"])

In [10]:
names.str.islower()

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
names[names.str.islower()]

0    ali
dtype: object

In [12]:
names[~names.str.isnumeric()]

0     ali
1    Deli
2    Veli
3    Zeli
dtype: object

In [13]:
comps = ["QNB,BBVA,GP","Ford,Audi,BMW"]

In [14]:
comp= pd.Series(comps)

In [15]:
comps[0].split(",")

['QNB', 'BBVA', 'GP']

In [16]:
comp.str.split(",")

0      [QNB, BBVA, GP]
1    [Ford, Audi, BMW]
dtype: object

In [17]:
comp.str.split(",").str[0]

0     QNB
1    Ford
dtype: object

In [19]:
comp.str.split(",", expand=True)

      0     1    2
0   QNB  BBVA   GP
1  Ford  Audi  BMW

In [25]:
isimler = pd.Series(["ali","Del??i","Vel??i","Zel??i","56"])

In [21]:
isimler

0     ali
1    Deli
2    Veli
3    Zeli
4      56
5     4.2
dtype: object

In [22]:
def func(x):
    return x.replace("??", "")

In [23]:
isimler.str.replace("?", "")

C:\Users\user\AppData\Local\Temp/ipykernel_10304/3063056128.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  isimler.str.replace("?", "")

0     ali
1    Deli
2    Veli
3    Zeli
4      56
5     NaN
dtype: object

In [24]:
isimler.str.replace("\?", "", regex=True)

0     ali
1    Deli
2    Veli
3    Zeli
4      56
5     NaN
dtype: object

In [ ]:
str.extract()

In [ ]:
str.find()

In [ ]:
str.findall()