In [1]:
import numpy as np
import pandas as pd

In [7]:
s = "ali\\n"

In [8]:
s.find(r"\n")

3

In [9]:
s.replace(r"\n", "")

'ali'

In [ ]:
\d : digit veya [0-9]+
\D : nondiigt

In [ ]:
\w :letter ve underscore

In [10]:
[a-z]+

SyntaxError: invalid syntax (Temp/ipykernel_21488/3340195278.py, line 1)

In [ ]:
[A-Za-z0-9_]+  \w

In [ ]:
[a-z]*

In [51]:
s1 = ["ali", "234", "veli", "var123", "art覺\\"]

In [154]:
s1= pd.Series(s1)
s1

0       ali
1       234
2      veli
3    var123
4     art覺\
dtype: object

In [156]:
s1.str.replace(r"([a-z]*)", "*", regex=True)

0          **
1     *2*3*4*
2          **
3    **1*2*3*
4      **覺*\*
dtype: object

In [29]:
s1.str.replace(r"([a-z]+)", "2")

C:\Users\user\AppData\Local\Temp/ipykernel_21488/1062221138.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  s1.str.replace(r"([a-z]+)", "2")

0      2
1    234
2      2
dtype: object

In [153]:
s1.str.replace(r"([a-z])", "2", regex=True)

0       222
1       234
2      2222
3    222123
4     222覺\
dtype: object

In [32]:
s1.str.replace(r"([a-z]{2})", "2")

C:\Users\user\AppData\Local\Temp/ipykernel_21488/377839494.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  s1.str.replace(r"([a-z]{2})", "2")

0     2i
1    234
2     22
dtype: object

In [33]:
s1.str.replace(r"([a-z0-9]{2})", "2")

C:\Users\user\AppData\Local\Temp/ipykernel_21488/3654730357.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  s1.str.replace(r"([a-z0-9]{2})", "2")

0    2i
1    24
2    22
dtype: object

In [38]:
s1.str.findall("z|a")

0    [a]
1     []
2     []
dtype: object

In [39]:
s1.str.findall("v|a")

0    [a]
1     []
2    [v]
dtype: object

In [48]:
s1.str.findall("(v|a)|([0-9]+)")

0                    [(a, )]
1                  [(, 234)]
2                    [(v, )]
3    [(v, ), (a, ), (, 123)]
dtype: object

In [50]:
s1.str.findall("(v|a)([0-9]+)")

0    []
1    []
2    []
3    []
dtype: object

In [66]:
s1.str.findall(r"(\\)")

0    []
1    []
2    []
3    []
4    []
dtype: object

In [61]:
print("Backslash: \\")

Backslash: \

In [62]:
print(r"Backslash: \\")

Backslash: \\

In [74]:
import re

In [75]:
text = "A78L41K"

In [76]:
num = re.search("78", text)

In [77]:
num.group()

'78'

In [78]:
print(num)

<re.Match object; span=(1, 3), match='78'>

In [79]:
text = "A78L41K"

In [87]:
alpha = re.match("\D\d\d", text)
alpha.group(0)

'A78'

In [88]:
alpha.group()

'A78'

In [81]:
alpha

In [82]:
type(alpha.group())

str

In [89]:
alpa2= re.search("\D\d\d", text)

In [93]:
alpa2.group()

'A78'

In [114]:
text = "5278L41K"

In [115]:
alpa2= re.search("\D\d\d", text)

In [116]:
alpa2.group()

'L41'

In [98]:
alpa2= re.match("\D\d\d", text)

In [99]:
alpa2.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [101]:
text = "A78L41K5"
alpnum = re.fullmatch("\D\d+\D\d+\D", text)
alpnum.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [102]:
text = "O 1, t 10, o 100. 100000"

In [105]:
re.findall("\d{1}", text)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [107]:
re.findall("\d{3}", text)

['100', '100', '000']

In [118]:
text = "2004-959-559"

In [119]:
re.sub("\D", "", text)

'2004959559'

In [120]:
text = "ab56cd78_de fg3h覺i49"

In [121]:
re.split("\D+", text)

['', '56', '78', '3', '49']

In [123]:
text.split("\D+")

['ab56cd78_de fg3h覺i49']

In [124]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])

In [125]:
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [126]:
s.str.count("a")

0    3
1    2
2    2
dtype: int64

In [128]:
s.str.replace("\d","", regex=True)

0    aaa
1    baa
2    caa
dtype: object

In [133]:
s.str.contains("[clt]")

0    False
1    False
2     True
dtype: bool

In [134]:
s.str.findall("\D\d")

0    [a3]
1    [b4]
2    [c5]
dtype: object

In [136]:
s.str.findall("\D")

0    [a, a, a]
1    [b, a, a]
2    [c, a, a]
dtype: object

In [137]:
s = pd.Series(['&a3aa', 'b4&aa', 'c5aa&'])

In [138]:
s.str.match("&")

0     True
1    False
2    False
dtype: bool

In [139]:
s.str.split("&")

0    [, a3aa]
1    [b4, aa]
2    [c5aa, ]
dtype: object

In [141]:
s.str.split("\d", expand=True)

    0    1
0  &a   aa
1   b  &aa
2   c  aa&

In [142]:
s

0    &a3aa
1    b4&aa
2    c5aa&
dtype: object

In [145]:
s.str.extract("(\w+)")

      0
0  a3aa
1    b4
2  c5aa

In [146]:
s.str.extract("(&)")

   0
0  &
1  &
2  &

In [148]:
s.str.extract(r"(\d)")

   0
0  3
1  4
2  5

In [150]:
s

0    &a3aa
1    b4&aa
2    c5aa&
dtype: object

In [149]:
s.str.extract(r"([a-z]+)")

   0
0  a
1  b
2  c

In [151]:
s = pd.Series(['mhk&a3aa', 'rtyb4&aa', 'ffjc5aa&'])
s

0    mhk&a3aa
1    rtyb4&aa
2    ffjc5aa&
dtype: object

In [152]:
s.str.extract(r"([a-z]+)")

      0
0   mhk
1  rtyb
2  ffjc