In [2]:
import numpy as np
import pandas as pd

In [3]:
sales = pd.read_csv("sales_082020.csv")

In [4]:
currency_rates = pd.read_csv("currency_rates_082020_EUR.csv")

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [6]:
currency_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

### 1. How many rows in the sales dataset?(Just write the numbers in the format of 000.000)

### 2. How many columns in the sales dataset?(Just write the numbers)

In [7]:
len(sales)

237671

In [8]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [19]:
currency_rates.sample(10)

    currency      date       rate
12       GBP  8/3/2020    0.89935
186      TWD  8/7/2020   34.75180
53       NZD  8/4/2020    1.77774
35       AUD  8/6/2020    1.64212
128      THB  8/9/2020   36.81900
191      HUF  8/2/2020  344.42500
25       USD  8/6/2020    1.18759
34       AUD  8/5/2020    1.64913
192      HUF  8/3/2020  344.58100
166      SGD  8/7/2020    1.61838

In [10]:
sales.count()

buyer_id          237671
buyer_country     237671
seller_id         237671
seller_country    237671
product_code      237671
category          237655
brand             119330
currency          237671
price             237671
date              237671
dtype: int64

### 3. What is the total number of sellers?(Just write the numbers in the format of 000.000)

In [12]:
sales.seller_id.nunique()

114227

In [139]:
len(sales.seller_id.unique())

114227

### 4. What is the total value of sales in EUR?(Just write the numbers in the format of 0.000.000 )

In [107]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [142]:
currency_rates.head()

  currency       date  rate
0      EUR 2020-08-01   1.0
1      EUR 2020-08-02   1.0
2      EUR 2020-08-03   1.0
3      EUR 2020-08-04   1.0
4      EUR 2020-08-05   1.0

In [109]:
(sales.currency == "EUR").sum()

5934

In [111]:
(currency_rates.currency == "EUR").sum()

10

In [140]:
sales.currency.unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [119]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [120]:
currency_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [122]:
sales["date"] = pd.to_datetime(sales.date)

In [123]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 18.1+ MB

In [124]:
currency_rates["date"] = pd.to_datetime(currency_rates.date)

In [125]:
currency_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    datetime64[ns]
 2   rate      220 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.3+ KB

In [144]:
df_merged = pd.merge(sales, currency_rates, how="left", left_on=["date","currency"], right_on=["date","currency"])

In [145]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237671 entries, 0 to 237670
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
 10  rate            237671 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 21.8+ MB

In [146]:
df_merged.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09,0.90278
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07,0.90286
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09,0.90278
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09,0.90278

In [147]:
df_merged2 = pd.merge(sales, currency_rates, how="inner", on=["date","currency"])
df_merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237671 entries, 0 to 237670
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
 10  rate            237671 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 21.8+ MB

In [148]:
df_merged2.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [150]:
df_merged2["price_EUR"] = df_merged2.price / df_merged2.rate

In [152]:
df_merged2.price_EUR.sum().round()

6471511.0

In [153]:
df_merged["price_EUR"] = df_merged.price / df_merged.rate

In [154]:
df_merged.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,price_EUR
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09,0.90278,17.634418
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07,0.90286,7.055357
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09,0.90278,27.991316
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09,0.90278,9.858437

In [156]:
df_merged.price_EUR.sum().round()

6471511.0

### 5. Which brand has the highest number of purchases during the period?(Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [22]:
sales.groupby("brand")["price"].sum().sort_values(ascending=False)

brand
Nike                  373559.23
Adidas                110351.33
American Vintage      105227.77
Brandy Melville       100055.63
Dr. Martens            84418.65
                        ...
Ann Demeulemeester         6.19
3LAB                       5.57
Popular Sports             5.26
360 Cashmere               3.36
36572                      1.12
Name: price, Length: 1134, dtype: float64

In [157]:
sales.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

### 6. How many items in the “Jewelry” category have no brand associated with them?(Just write the numbers in the format of 00.000)

In [64]:
sales[(sales.category == "Jewellery") & (sales.brand.isnull())]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
23,94lh9gu3bu,US,dhsa2q6o,US,1m846u2l2dyl,Jewellery,NaN,USD,16.29,2020-08-03
48,u8da411658,AU,qn7p4cv2,AU,dd4d4p2h4us2,Jewellery,NaN,AUD,12.52,2020-08-07
49,9exo58j839,AU,qn7p4cv2,AU,6nogqtmgfjsn,Jewellery,NaN,AUD,8.48,2020-08-09
50,9exo58j839,AU,qn7p4cv2,AU,w5ixs8y20z3n,Jewellery,NaN,AUD,5.58,2020-08-09
51,9exo58j839,AU,qn7p4cv2,AU,g5usn39z8b7u,Jewellery,NaN,AUD,5.37,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237545,rabu7nz8gn,US,rv5nmiwq,US,ikfosml5pjas,Jewellery,NaN,USD,21.19,2020-08-05
237568,ytjobx2wzg,GB,qib5sh0l,GB,tn00dvezdp43,Jewellery,NaN,GBP,1.15,2020-08-05
237569,ytjobx2wzg,GB,qib5sh0l,GB,eykndnmcb4g6,Jewellery,NaN,GBP,1.15,2020-08-05
237616,p0jol2ieus,US,4pi8qok2,US,0ipj5zmes1cu,Jewellery,NaN,USD,18.67,2020-08-08
237643,q86525x69t,GB,33hffrhq,GB,426jwzj6b2uz,Jewellery,NaN,GBP,5.30,2020-08-05

In [159]:
# Doğru Cevap
sales[(sales.category == "Jewellery") & (sales.brand.isnull())].product_code.nunique()

10931

### 7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)

In [76]:
sales.groupby("brand").count()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,currency,price,date
brand,,,,,,,,,
& Other Stories,151,151,151,151,151,151,151,151,151
032c,11,11,11,11,11,11,11,11,11
11 Degrees,33,33,33,33,33,33,33,33,33
1822 Denim,8,8,8,8,8,8,8,8,8
3.1 Phillip Lim,10,10,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...
ghd,35,35,35,35,35,35,35,35,35
kensie,1,1,1,1,1,1,1,1,1
liquid blue,52,52,52,52,52,52,52,52,52
mixxmix,12,12,12,12,12,12,12,12,12
philosophy,4,4,4,4,4,4,4,4,4

In [77]:
sales.groupby("brand").count() <= 55

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,currency,price,date
brand,,,,,,,,,
& Other Stories,False,False,False,False,False,False,False,False,False
032c,True,True,True,True,True,True,True,True,True
11 Degrees,True,True,True,True,True,True,True,True,True
1822 Denim,True,True,True,True,True,True,True,True,True
3.1 Phillip Lim,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
ghd,True,True,True,True,True,True,True,True,True
kensie,True,True,True,True,True,True,True,True,True
liquid blue,True,True,True,True,True,True,True,True,True
mixxmix,True,True,True,True,True,True,True,True,True
philosophy,True,True,True,True,True,True,True,True,True

In [78]:
sales.groupby("brand").count() >= 35

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,currency,price,date
brand,,,,,,,,,
& Other Stories,True,True,True,True,True,True,True,True,True
032c,False,False,False,False,False,False,False,False,False
11 Degrees,False,False,False,False,False,False,False,False,False
1822 Denim,False,False,False,False,False,False,False,False,False
3.1 Phillip Lim,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
ghd,True,True,True,True,True,True,True,True,True
kensie,False,False,False,False,False,False,False,False,False
liquid blue,True,True,True,True,True,True,True,True,True
mixxmix,False,False,False,False,False,False,False,False,False
philosophy,False,False,False,False,False,False,False,False,False

In [79]:
((sales.groupby("brand").count() >= 35) & (sales.groupby("brand").count() <= 55)).sum()

buyer_id          81
buyer_country     81
seller_id         81
seller_country    81
product_code      81
category          80
currency          81
price             81
date              81
dtype: int64

### 8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write the the numbers)

In [80]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [87]:
((sales.category == "Shoes") & (sales.buyer_country == "AU")).sum()

658

In [86]:
(sales.category == "Shoes")

0         False
1         False
2         False
3         False
4         False
          ...
237666    False
237667    False
237668    False
237669     True
237670    False
Name: category, Length: 237671, dtype: bool

In [85]:
sales.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

### 9. Which brand has the highest average transaction value? (Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [97]:
sales.groupby("brand").mean().max()

price    339.363333
dtype: float64

In [96]:
sales[sales.brand == "Goyard"]["price"].mean()

339.36333333333334

In [98]:
sales.groupby("brand").mean().idxmax()

price    Goyard
dtype: object

### 10. What is the total value of items purchased by GB buyers from GB sellers? (Just write the numbers in the format of 0.000.000 )

In [99]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [102]:
sales[(sales.buyer_country == "GB") & (sales.seller_country == "GB")]["price"].sum()

3184495.5800000005

### 11. What percentage of US sellers' transactions were purchased by US buyers? (Just write the percentage in the format of 00.00%)

In [104]:
(sales.seller_country == "US").sum()

82111

In [105]:
((sales.seller_country == "US") & (sales.buyer_country == "US")).sum()

80658

In [106]:
((sales.seller_country == "US") & (sales.buyer_country == "US")).sum()/(sales.seller_country == "US").sum()*100

98.23044415486353